div
{
    height: 100px;
    width: 100px;
    background-color:aqua;
    border:2px solid black;
    display:inline-block;
}

#Pranali
{
position:absolute;
bottom:5px;
}

#Prathamesh
{
position:absolute;
right:10px;
}

#Parth
{
position:absolute;
top:10px;
}

#Payal
{
position:absolute;
left:12px;
}

