h1
{
height:50px;
text-align:center;
}

h2
{
height:30px;
color:white;
background-color:purple;
}

h3
{
height:100px;
background-color:red;
}

div
{
height:10px;
color:brown;
background-color: aqua;
}

p
{
height:150px;
}

Button
{
height:50px;
}

img
{
height:200px;
}

a
{
height:10px;
}





