div
{
    height: 100px;
    width: 100px;
    border:2px solid black;
    display:inline-block;
}

#Pranali
{
position:sticky;
bottom:5px;
}

#Prathamesh
{
position:sticky;
right:100px;
}

#Parth
{
position:sticky;
top:50px;
}

#Pratiksha
{
position:sticky;
left:12px;
}
