h1
{
padding-left:650px;
border-radius:50px;
background-color:rgba(0, 128, 100, 0.99);
}

h2
{
width:1100px;
background-color:rgb(255, 0, 251);
border-style:dotted;
border-color:rgb(226, 43, 43);
padding-right:1000px;
}

h3
{
padding:1px, 2px, 3px, 4px;
height:100px;
width:100px;
text-align:center;
border-width:2px;
border-style:solid;
background-color:rgb(43, 211, 226);
border-radius:50%;
}

div
{
padding-left:800px;
}

p
{
border-radius:10px;
border-style:solid;
width:2150px;
background-color:pink;
padding-top:25px;
}

Button
{
border-radius:10px;
width:100px;
text-align:center;
border-width:4px;
border-style:solid;
padding-bottom:40px;
background-color:yellow;
}

img
{
padding:25px;
height:100px;
width:100px;
text-align:center;
border-width:2px;
border-style:solid;
border-radius:50%;
background-color:sandybrown;
}

a
{
padding:50px;
border-style:solid; 
border-color:peru;
border-width:2px;
border-radius:10px;
text-align:center;
}





