
h1
{
    text-align:center;
}

h3
{
    text-align:center;
}

p
{
    color:blue;
    background-color:white;
    text-align:right;

}

Button
{
    text-align:left;
}

img
{
   text-align:right;
}

a
{
    text-align:left;
}

