h1
{
height:50px;
width:1000px;
text-align:center;
}

h2
{
width:250px;
color:white;
background-color:purple;
}

h3
{
width:200px;
background-color:red;
}

div
{
width:2500px;
color:brown;
background-color: aqua;
}

p
{
width:20000px;
}

Button
{
width:50px;
}

img
{
width:500px;
}

a
{
width:100px;
}





