div
{
    height: 100px;
    width: 100px;
    border:2px solid black;
    display:inline-block;
}

#Pranali
{
position:fixed;
bottom:15px;
}

#Prathamesh
{
position:fixed;
right:10px;
}

#Parth
{
position:fixed;
top:15px;
}

#Pratiksha
{
position:fixed;
left:20px;
}
