
div
{
  height:100px;
  width: 100px;
  background-color:aquamarine;
  border:2px solid black;
  transition-property: all;

}

div:hover
{
background-color: red;
color: white;
font-size: 10px;
}

div:active
{
background-color: pink;
color: red;
}
