div
{
    height: 100px;
    width: 100px;
    border:2px solid black;
    display:inline-block;
    margin-right:40px;
}

#Cat
{
background-image:url("Cat photo.jpg");
background-size:auto;

}

#Rose
{
background-image:url("Rose image.jpg");
background-size:auto;
}

